.heading {
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__wrapper {
      flex-grow: 1;
      text-align: center;
    }

    h1 {
      text-align: center;
      font-family: 'Shadows Into Light', 'cursive';
      font-family: 'Bangers';
      font-weight: 900;
      font-size: 3.5em;
      color: #00969b;
    }
  }
}