.main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.droppable {
  display: flex;
  flex-direction: row;
  padding: 0.5em 0.5em 2em 0.5em;
  overflow: auto;
}

.pokemon {
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: relative;

  &__name {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Bangers';
    font-size: 1.5em;
    color: #828282;
    margin-bottom: 1em;
  }

  &__text {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.background {
  position: relative;
  top: -14em;
  left: -1px;
  margin-bottom: -11em;
  border-radius: 100%;
  transition: 0.5s all ease;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &__img {
    border: 2px solid grey;
    border-radius: 100%;
    filter: invert(48%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(168%) contrast(119%);
  }
}

.dragging {
  background: #919191
}